<main class="form-wrapper">
  <h2 class="form-title">Login de usuario</h2>
  <form id="loginForm">
    <input type="email" name="email" placeholder="Correo" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    <button type="submit">Iniciar sesión</button>
  </form>
  <p class="form-link">
    ¿No tenés cuenta? <a href="/register">Registrate</a>
  </p>
  <div id="alertPlaceholder" class="mt-3"></div>
</main>
<script src="/js/auth.js"></script>