<main class="form-wrapper">
  <div id="user-info" class="profile-card">
    <h2 class="form-title">Perfil de usuario</h2>
    <p id="userName">Nombre: </p>
    <p id="userEmail">Email: </p>
    <p id="userAge">Edad: </p>
    <p id="userRole">Rol: </p>
    <div class="text-center mt-4">
      <button id="logoutBtn" class="btn btn-danger mt-3">Cerrar sesión</button>      
    </div>
  </div>
  <div id="alertPlaceholder" class="mt-3"></div>
</main>
<script src="/js/auth.js"></script>