<main class="form-wrapper">
  <h2 class="form-title">Restablecer contrase単a</h2>
  <form id="resetPasswordForm">
    <input type="password" name="password" placeholder="Nueva contrase単a" required />
    <input type="password" name="confirmPassword" placeholder="Confirmar contrase単a" required />
    <input type="hidden" name="token" value="{{token}}" />
    <button type="submit">Actualizar contrase単a</button>
  </form>
  <div id="alertPlaceholder" class="mt-3"></div>
</main>
<script src="/js/resetPassword.js"></script>